<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Reseptiarkisto</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Reseptiarkisto: Etusivu</h1>

        <p> Reseptit:<span th:text="${viesti}">jotain?</span></p>
        
        <ul>
            <li th:each="annos : ${annokset}">
                <a th:href="@{~/resepti/{annosId} (annosId=${annos.id})}">
                    <span th:text="${annos.nimi}">esimerkki</span>
                </a>
            </li>
        </ul>
        
        <p><a href="/reseptit">Luo uusi resepti</a></p>
        
        <p><a href="/raaka-aineet">Tarkastele ja lisää raaka-aineita</a></p>
        
    </body>
</html>