<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Reseptiarkisto</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Raaka-aine: <span th:text="${raakaAine.nimi}">raakaAine</span>!</h1>

        <p>Olet saapunut raaka-aineen <span th:text="${raakaAine.nimi}">raakaAine</span> sivulle.</p>
        
        <ul>
                <li th:each="raakaAine : ${raakaAineet}">
                    <span th:text="${annos.nimi}">esimerkki</span>
                </li>
        </ul>
        
        <ul>
            <li>
                <a href="../">Palaa etusivulle</a>
            </li>
            <li>
                <a href="/reseptit">Luo uusi resepti ja muokkaa reseptejä</a>
            </li>
            <li>
                <a href="/raaka-aineet">Tarkastele, lisää ja poista raaka-aineita</a>
            </li>
        </ul>
    </body>
</html>