<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Reseptiarkisto</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Reseptit:</h1>

            <ul>
                <li th:each="annos : ${annokset}">
                    <span th:text="${annos.nimi}">esimerkki</span>
                    <a th:href="@{~/reseptit/{annosId}/delete (annosId=${annos.id})}">(poista)</a>
                </li>
            </ul>
        
        <h4>Lisää uusi resepti</h4>
  
        <form method="POST" action="/reseptit/lisaa-resepti">
            Reseptin nimi:<br/>
            <input type="text" name="annos"/><br/>
            <input type="submit" value="Lisää"/>
        </form>
        
    
        <h4>Lisää reseptiin raaka-aineita</h4>

        <form method="POST" action="/reseptit/lisaa-raaka-aine">
            Reseptin nimi:<br/>
            <select name="annosId">
                <option th:each="annos : ${annokset}" th:value="${annos.id}" th:text="${annos.nimi}">
                    resepti
                </option>
            </select>
            <br/>
            Lisättävä raaka-aine<br/>
            <select name="raakaAineId">
                <option th:each="raakaAine : ${raakaAineet}" th:value="${raakaAine.id}" th:text="${raakaAine.nimi}">
                    raaka-aine
                </option>
            </select>
            <br/>
            Järjestysnumero<br/>
            <input type="text" name="jarjestysnumero"/><br/>
            Määrä<br/>
            <input type="text" name="maara"/><br/>
            Ohje<br/>
            <input type="text" name="ohje"/><br/>
            <input type="submit" value="Lisää"/>
        </form>

        <ul>
            <li>
            <a href="../">Palaa etusivulle</a>
            </li>
            <li>
            <a href="/raaka-aineet">Tarkastele, lisää ja poista raaka-aineita</a>
            </li>
        </ul>
    </body>
</html>