<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Reseptiarkisto</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Resepti: <span th:text="${annos.nimi}">resepti</span></h1>

        <p>Alla reseptin <span th:text="${annos.nimi}">resepti</span> ohjeet.</p>
        
        <ul>
                <li th:each="annosRaakaAine : ${annosRaakaAineet}">
                    <span th:text="${annosRaakaAine.nimi+ ', ' + annosRaakaAine.maara}">raaka-aine ja sen määrä</span><br/>
                    <span th:text="${annosRaakaAine.ohje}"></span>
                </li>
        </ul>
        
        <ul>
            <li>
                <a href="../">Palaa etusivulle</a>
            </li>
            <li>
                <a href="/reseptit">Luo uusi resepti ja muokkaa reseptejä</a>
            </li>
            <li>
                <a href="/raaka-aineet">Tarkastele, lisää ja poista raaka-aineita</a>
            </li>
        </ul>
    </body>
</html>